body {font-family: Verdana, Geneva, Tahoma, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(240, 40, 67);
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #a20cc0;
}

.container {
  border-radius: 5px;
  background-color: #181818;
  padding: 20px;
}

.header {
    padding: 20px;
    text-align: center;
}

.column {
    float: left;
    width: 97.3%;
    padding: 15px;
}
  

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    background-color: black;
    text-align: center;
    padding: 10px;
  }
  
h2:hover {
    background-color: white;
    color: crimson;
}

@media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
}